[class^='col'] {
	padding: 10px;
	background-color: #006CFA;
	color: white;
	border: 1px solid white;
    text-align: center;
}

.row .green{
    background-color: #00E165;
}
/**seconda sezione**/
.section.tetris{
	padding-top: 25px;
}

.section.tetris [class^='col']{
	padding: 20px;
}

